img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

/* COLOR */

.white {
    color: white;
}
.midnightblue {
    color: rgb(41, 61, 82);
}

.bg-midnightblue {
    background-color: rgb(41, 61, 82);
}

.bg-aquagreen {
    background-color: rgb(0, 194, 157);
}

.bg-aqua


/* DEBUG RULE */

.debug-padding-10 {
    padding: 10px;
}

.padding-30 {
    padding: 30px;
}

.debug-padding-80 {
    padding: 80px;
}

.debug-min-height-400px {
    min-height: 400px;
}

.debug-border {
    border: 4px solid black;
}


.outer-line {
    width: 20%;
    border-bottom: 5px solid currentColor;
  }

  span {
    display: inline-block;
    vertical-align: middle;
  }

  .line {
    width: 100%;
    border-bottom: 2px solid grey;
  }

  input {
    outline: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
  }