/* RESET RULES */

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}


/* 
input,
 label,
 textarea {
    outline: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border: none;
 }
 */


/* COLOR */

.white {
    color: white;
}
.midnightblue {
    color: rgb(41, 61, 82);
}

.aquagreen {
    color: rgb(0, 194, 157);
}

.bg-midnightblue {
    background-color: rgb(41, 61, 82);
}

.bg-aquagreen {
    background-color: rgb(0, 194, 157);
}

.bg-greyblue {
    background-color: rgb(53, 83, 112);
}

/* PADDING RULE */

.padding-30 {
    padding: 30px;
}



/* LINE STARS + LINE CONTACT RULES */

.outer-line {
    width: 20%;
    border-bottom: 5px solid currentColor;
  }

  span {
    display: inline-block;
    vertical-align: middle;
  }

  .line {
    width: 100%;
    border-bottom: 2px solid grey;
  }


